<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <div class="container section">
    <div class="row row-contain center-xs">
      <div class="col-md-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="row row-contain">
      <div class="col-md-8 col-xs-12 preview">
        <img src="{{ .Params.preview }}" class="preview-img">
      </div>
      <div class="col-md-4 col-xs-12">
        {{ .Content }}
      </div>
    </div>
    <div class="container section">
  <div class="row">
    <div class="col-xs" class="direction-arrows">
      {{if .NextInSection}}
      <a href="{{.NextInSection.Permalink}}" class="pull-left" rel="prev">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {{ .NextInSection.Title }}
      </a>
      {{end}}
      {{if .PrevInSection}}
      <a href="{{.PrevInSection.Permalink}}" class="pull-right" rel="next">
        {{ .PrevInSection.Title }}
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
      {{end}}
    </div>
  </div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
