<div class="row row-contain project-buttons">
  <div class="col-sm col-xs-12 start-xs">
    {{if .NextInSection}}
    <a href="{{.NextInSection.Permalink}}" class="projects-btn" rel="prev">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      {{ .NextInSection.Title }}
    </a>
    {{end}}
  </div>
  <div class="col-sm col-xs-12 end-xs">
    {{if .PrevInSection}}
    <a href="{{.PrevInSection.Permalink}}" class="projects-btn" rel="next">
      {{ .PrevInSection.Title }}
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    {{end}}
  </div>
</div>
