<div class="container-fluid nav-bar">
  <div class="row middle-xs end-xs row-contain">
    <div class="col-xs">
      <a href="/"><div class="logo"></div></a>
    </div>
    {{ $pages := .Site.Pages.ByWeight }}
    {{ range .Site.Menus.main }}
    <div class="col-xs nav-item">
      <a href="{{.URL}}">{{ .Name }}</a>
      <ul>
        {{ range where $pages "Section" .Identifier }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
