<div id="myNav" class="overlay-mobile">

  <div class="overlay-content">
    {{ $pages := .Site.Pages.ByWeight }}
    {{ range .Site.Menus.main }}
    <a id="{{.Identifier}}-nav-item-mobile" class="link-section-nav" href="{{.URL}}">{{ .Name }}</a>
    {{ range where (where $pages "Section" .Identifier) "Kind" "!=" "section" }}
    <a href="{{ .Permalink }}" class="link-page-nav">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </div>
  <a href="#" class="closebtn">&times;</a>
</div>
<div class="container-fluid nav-bar">
  <div class="row middle-xs end-xs row-contain">
    <div class="col-xs">
      <a href="/"><div class="logo"></div></a>
    </div>
    <div class="col-xs">
      <span class="openbtn">☰</span>
    </div>
    {{ $pages := .Site.Pages.ByWeight }}
    {{ range .Site.Menus.main }}
    <div class="nav-item">
      <a id="{{.Identifier}}-nav-item" href="{{.URL}}">{{ .Name }}</a>
      {{ $sections := where (where $pages "Section" .Identifier) "Kind" "!=" "section" }}
      {{ if ge (len $sections) 1 }}
      <ul>
        {{ range $sections }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
