<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/masonry.pkgd.js"></script>
<script src="https://use.fontawesome.com/6dd88f051e.js"></script>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>

function openNav() {
  document.getElementById("myNav").className = 'overlay-mobile open';
}

function closeNav() {
  document.getElementById("myNav").className = 'overlay-mobile';
}

$('.openbtn').click(function(e) {
  e.preventDefault();
  openNav();
  return false;
})

$('.closebtn').click(function(e) {
  e.preventDefault();
  closeNav();
  return false;
})

</script>

<script>
var smoochLoaded = Smooch.init({
  appToken: '8i68cs75ohmjhsisrodjpzgwj',
  emailCaptureEnabled: true,
  customText: {
    headerText: 'Have a Question?',
    inputPlaceholder: 'Type a message...',
    sendButtonText: 'Send',
    introText: 'Ask us something, and we will do our best to answer.',
    settingsText: 'You can leave us your email so that we can get back to you this way.',
    settingsReadOnlyText: 'We\'ll get back to you at this email address if we missed you.',
    settingsInputPlaceholder: 'Your email address',
    settingsSaveButtonText: 'Save',
    settingsHeaderText: 'Email Settings',
    settingsNotificationText: 'In case we\'re slow to respond you can <a href data-ui-settings-link>leave us your email</a>.',
    actionPaymentError: 'An error occurred while processing the card. <br> Please try again or use a different card.',
    actionPaymentCompleted: 'Payment Completed',
    messageError: 'An error occured while sending your message. Please try again.',
    invalidFileError: 'Sorry, but only images are supported currently. Please choose a file with a supported extension (jpg, jpeg, png, gif, or bmp).',
    messageIndicatorTitleSingular: '({count}) New message',
    messageIndicatorTitlePlural: '({count}) New messages'
  }
  // Smooch.track("First Name");
});

smoochLoaded.then(function() {
  $(function() {
    if(window.location.href.indexOf("contact") > -1) {
      Smooch.open();
    }
  })
})
</script>


<script>
$(function() {
  $(window).scroll(function() {
    var scrollPos = $(window).scrollTop(),
    navbar = $('.nav-bar');
    logo = $('.logo');

    if ($(window).width() >= 668 && scrollPos > 10) {
      logo.addClass('alt-logo');
      navbar.addClass('alt-position');
    } else {
      logo.removeClass('alt-logo');
      navbar.removeClass('alt-position');
    }

    if (scrollPos > 140) {
      navbar.addClass('alt-color');
    } else {
      navbar.removeClass('alt-color');
    }

  });
});
</script>
<script>
window.onload = function() {
  var grid = document.getElementsByClassName("grid");
  if (!grid || grid.length <= 0) return;

  var msnry = new Masonry( '.grid', {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
}
</script>
