<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/masonry.pkgd.js"></script>
<script src="https://use.fontawesome.com/6dd88f051e.js"></script>
<script>

function openNav() {
  document.getElementById("myNav").className = 'overlay-mobile open';
}

function closeNav() {
  document.getElementById("myNav").className = 'overlay-mobile';
}

$('.openbtn').click(function(e) {
  e.preventDefault();
  openNav();
  return false;
})

$('.closebtn').click(function(e) {
  e.preventDefault();
  closeNav();
  return false;
})

</script>

<script>
$(function() {
  $(window).scroll(function() {
    var scrollPos = $(window).scrollTop(),
    navbar = $('.nav-bar');
    logo = $('.logo');

    if ($(window).width() >= 668 && scrollPos > 10) {
      logo.addClass('alt-logo');
      navbar.addClass('alt-position');
    } else {
      logo.removeClass('alt-logo');
      navbar.removeClass('alt-position');
    }

    if (scrollPos > 80) {
      navbar.addClass('alt-color');
    } else {
      navbar.removeClass('alt-color');
    }

  });
});
</script>
<script>
$(window).bind("load", function() {
  var grid = document.getElementsByClassName("grid");
  if (!grid || grid.length <= 0) return;

  var msnry = new Masonry( '.grid', {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
});
</script>
