<div class="row-contain">
  <div class="col-xs-12 masonry-title">
    <p>Our Past &amp; Current Projects</p>
  </div>
  <div class="grid">
    <div class="grid-sizer height"></div>
    {{ range where .Data.Pages "Section" "services" }}
    <a href="{{ .Permalink }}">
      <div class="grid-item">
        <div class="overlay">
          <div class="overlay-center">
            <h3>{{ .Title }}</h3>
          </div>
        </div>
        <img src="{{ .Params.secondary }}" width="100%" class="secondary">
        <img src="{{ .Params.primary }}" width="100%">
      </div>
    </a>
    {{ end }}
    {{ range where .Data.Pages.ByDate "Section" "projects" }}
    <a href="{{ .Permalink }}">
      <div class="grid-item {{ .Params.height }}">
        <div class="overlay">
          <div class="overlay-center">
            <h3>{{ .Title }}</h3>
          </div>
        </div>
        <img src="{{ .Params.secondary }}" width="100%" class="secondary">
        <img src="{{ .Params.primary }}" width="100%">
      </div>
    </a>
    {{ end }}
  </div>
</div>
