{{ partial "head.html" . }}
  <div class="container single-title">
    <div class="row center-xs row-contain">
      <div class="col-md-12">
        <div class="row center-xs">
          <h1>{{ .Title }}</h1>
            <div>
              <img src="{{ .Params.header }}" width="{{ .Params.width }}"/>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid services-list">
    <div class="row row-contain">
      <div class="col-xs-12 col-sm-7">
        {{ .Content }}
        <img src="{{ .Params.map }}" style="max-width: 100%;">
        <p>{{ .Description }}</p>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
