{{ partial "head.html" . }}
  <div class="container single-title">
    <div class="row center-xs">
      <div class="col-md-12 personal-title">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="row row-contain">
      <div class="col-md-6 personal-pic">
        <img src="{{ .Params.image }}">
      </div>
      <div class="col-md-4 markdown personal-info">
        {{ .Content }}
        <div class="icon-social">
          <a href="https://www.facebook.com/levelbits/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="icon-social">
          <a href="{{ .Params.linkedin }}" target="_blank"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a>
        </div>
        <div class="icon-social">
          <a href="https://twitter.com/LevelBits?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  </div>
  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
