{{ partial "head.html" . }}
<div class="container section">
  <div class="row row-contain contact">
    <div class="col-xs-12 col-sm-7">
      <p>At Level Bits, our team of professionals build and create unique applications for the Web, iOS and Android platforms. We use the latest technology so that your application works on the newest mobile devices.</p>
      <div class="row">
        {{ range where .Site.Pages.ByDate "Section" "contact" }}
        <div class="col-xs-6">
          {{ .Content }}
          <a href="{{ .Permalink }}"><button class="btn">View More</button></a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>


{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>
</html>
