{{ partial "head.html" . }}
<div class="container section">
  <div class="row row-contain contact">
    <div class="col-xs-4">
      <h3>Denver, Colorado</h3>
      <p>Denver, Colorado 80211<br>United States of America<br>Phone: 720.443.4017</p>
      <a href="/contact/denver-colorado"><button class="btn">View More</button></a>
    </div>
    <div class="col-xs-4">
      <h3>Fort Wayne, Indiana</h3>
      <p>310 Merchandise Dr.<br>Fort Wayne, Indiana 46825<br>United States of America</p>
      <a href="/contact/fort-wayne-indiana"><button class="btn">View More</button></a>
    </div>
    <div class="col-xs-4">
      <p>At Level Bits, our team of professionals build and create unique applications for the Web, iOS and Android platforms. We use the latest technology so that your application works on the newest mobile devices.</p>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>
</html>
