<!DOCTYPE html>
<html lang= "{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html"  . }}
  <div class= "container masonry projects-m">
    <h1 align='center'> Locations</h1>
      <h1>
        <ul>
          <li><a href= "http://localhost:1313/locations/denver-colorado/"
            >Denver</li>
          <li><a href= "http://localhost:1313/locations/fort-wayne-indiana/"
            >Fort Wayne</li>
          </a>

        </ul>
      </h1>





  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}

</body>
</html>
