{{ partial "head.html" . }}
  {{ partial "header-title.html" . }}
  <div class="container-fluid services-list">
    <div class="row center-xs row-contain">
      {{ range where .Site.Pages.ByDate "Section" "services" }}
      <div class="col-sm-4">
        <i class="{{ .Params.icon }}" aria-hidden="true"></i>
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.excerpt }}</p>
        <a href="{{ .Permalink }}"><button class="btn see-more">See More</button></a>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container mission">
    <div class="row">
      <div class="col-md-6 left">
        <h3>Our Methodology</h3>
        <p>At Level Bits, our team of professionals build and create unique applications for the Web, iOS and Android platforms. We use the latest technology so that your application works on the newest mobile devices.</p>
      </div>
      <div class="col-md-6 right">
        <h3>Our Mission</h3>
        <p>From concept to launch, our full-service agency takes charge of every phase of research, design, and development for your website, mobile application, or online advertising project. We will deliver a product that far exceeds your expecatations.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid logos">
    <div class="row center-xs row-contain">
      {{ range where .Site.Pages.ByDate "Section" "projects" }}
      <div class="col-xs-3 companies">
        <img src="{{ .Params.logo }}" width="100px">
      </div>
      {{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
